section.list {
    padding: 20px 0;
}
.list ul li{
    list-style: none;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    text-align: center;
}
